*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F7FCFF;
    font-family: 'Didact Gothic', sans-serif;
}

header{
    display: flex;
    width: 15%;
    height: 45px;
    margin-left: 8%;
    margin-top: 10px;
    align-items: center;
}

.logo{
    height: 100%;
}
.brand{
    color: #74B8E4;
}

.presentation{
    display: flex;
    width: 84%;
    margin: auto;
    min-height: 600px;
    align-items: center;
    position: relative;
}
.introduction{ 
    width: 55%;
    position: absolute;
    top: 75px;
    font-family: 'Open Sans', sans-serif;
    color: #042434;
}
.intro-text h1{
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 96%;
}
.intro-text p{
    margin-top: 20px;
    width: 90%;
    font-size: 20px;
    font-style:normal;
    font-weight:normal;
    line-height: 30px;
}
.cta{
    padding: 60px 310px;
}
.cta-select{
    border: none;
    border-radius: 15px;
    background: #ED469D;
    color: white;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px 5px #042434;
}
.cover{
    width: 500px;
    position: absolute;
    right: 0;
    bottom: 0;
}



