*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F7FCFF;
    font-family: 'Didact Gothic', sans-serif;
}

header{
    display: flex;
    width: 15%;
    height: 45px;
    margin-left: 8%;
    margin-top: 25px;
    align-items: center;
}

.logo{
    height: 100%;
}
.brand{
    color: #74B8E4;
}

.presentation{
    display: flex;
    width: 84%;
    margin: auto;
    min-height: 650px;
}
.introduction{ 
    margin-top: 90px;
    width: 55%;
    font-family: 'Open Sans', sans-serif;
    color: #042434;
}
.intro-text h1{
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 96%;
}
.intro-text p{
    margin-top: 20px;
    width: 90%;
    font-size: 20px;
    font-style:normal;
    font-weight:normal;
    line-height: 30px;
}
.cta{
    padding-top: 60px;
    text-align: right;
    margin-right: 10%;
}
.cta-select{
    border: none;
    border-radius: 15px;
    background: #ED469D;
    color: white;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px 5px #042434;
}
.cover{
    padding-top:140px;
    margin-left: 80px;
    width: 450px;
}


.features-1,.features-2{
    display: flex;
    width: 84%;
    justify-content:space-between;
    min-height: 720px;
    margin: auto;
    position: relative;
    /* background-color: red; */
}

.f1,.f3{
    /* flex: 1; */
    text-align: left;
    padding-top: 100px;
}
.f2,.f4{
    /* flex: 1; */
    text-align: right;
    padding-top: 300px;
}
.f1 img,.f3 img{
    width: 400px;
}

.f2 img,.f4 img{
    width: 400px;
}

.closing{
    display: flex;
    width: 84%;
    justify-content:space-between;
    min-height: 720px;
    margin: auto;
}






