html{
    overflow-x: hidden;
	scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #F7FCFF;
    font-family: 'Didact Gothic', sans-serif;
}

header{
    display: flex;
    width: 84%;
    height: 45px;
    margin-left: 8%;
    margin-top: 25px;
	justify-content: space-between;
}
.company-1{
    display: flex;
    width: 15%;
    height: 45px;
}
.logo{
    height: 100%;
}
.brand{
    color: #74B8E4;
}

.cta-select{
    border: none;
    border-radius: 15px;
    background: #ED469D;
    color: white;
    width: 200px;
    height: 45px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    box-shadow: 0px 0px 5px #042434;
}

.presentation{
    width: 84%;
    margin: auto;
    min-height: 570px;
	text-align: center;
	margin-top: 80px;
}
.introduction{ 
    font-family: 'Open Sans', sans-serif;
    color: #042434;
	text-align: center;
}
.intro-text h1{
    font-style: normal;
	font-weight: 600;
	font-size: 35px;
	line-height: 40px;
}
.h1-sub{
	color: #ED469D;
}

.cover{
	display: inline-block;
    margin-top:30px;
    width: 300px;
	
}

.presentation p{
	margin: auto;
	margin-top: 30px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
}
.scroll{
	padding-top: 20px;
	width: 2%;
	min-width: 3px;
	margin: auto;
	cursor: pointer;
	transition: all 50ms linear;
}
.scroll img{
	width: 100%;
	margin: auto;
}
.scroll:hover{
	width: 2.5%;
	min-width: 4px;
}
.features-1,.features-2{
    display: flex;
    width: 84%;
    justify-content:space-between;
    min-height: 720px;
    margin: auto;
    position: relative;
    /* background-color: red; */
}

.f1,.f3{
    /* flex: 1; */
    text-align: left;
    padding-top: 100px;
}
.f2,.f4{
    /* flex: 1; */
    text-align: right;
    padding-top: 300px;
}
.f1 img,.f3 img{
    width: 400px;
}

.f2 img,.f4 img{
    width: 400px;
}

.closing{
	padding: 0;
	min-height: 720px;
    width: 84%;
    margin: auto;
	font-size: 13px;
	text-align: center;
    position: relative;
}

.testimonials{
	float: left;
	position: relative;
	padding: 20px 0;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 20px; 
}
.section-title p{
	color: #002874;
    opacity: 0.5;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: #042434;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 5px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #74B8E4;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #74B8E4;
	box-shadow: 0 9px 26px rgba(130, 144, 167, 0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: #042434;
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background:#042434;
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}
.testimonials-text .listing-rating{
	float: none;
	display: inline-block;
	margin-bottom: 12px;
}

.testimonials-avatar h3{
	font-weight: 600;
	color: #042434;
	font-size: 18px;
}
.testimonials-avatar h4{
	 font-weight:400;
	 font-size:12px;
	 padding-top:6px;
	 color:#74B8E4;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}

.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	float: left;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #002874;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}

.info{
    min-height: 150px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    box-shadow: 0 0px 25px rgba(130, 144, 167, 0.45);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.company{
    display: flex;
    width: 15%;
    height: 45px;
    margin-top: 2%;
    margin-left: 2%;
    align-items: center;
}

.logo-2{
    height: 100%;
    z-index: 1;
}
.brand-2{
    font-size: 30px;
    color: #74B8E4;
}

.cta-2{
    margin-top: 2%;
    margin-right: 2%;
    /* text-align: right; */
}
.cta-select-2{
    border: none;
    border-radius: 15px;
    background: #ED469D;
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    box-shadow: 0px 0px 5px #042434;
}

